html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index; 9999;
}

.top-navigation .content {
    width: 750px;
    height: 70px;
    margin: 0 auto;
    padding: 0 15px;
}

.top-navigation .links {
    float: right;
    font-size: 16px; 
    color: #838994; 
    margin-top: 30px;
    
    
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}


.top-navigation .links .active {
    color: #4c5058;
    font-weight: 600;
}


.logo {
    margin-top: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.introduction .content {
    width: 970px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    
    padding-top: 200px;
    
}

.introduction h1 {
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
    display: block;
    
}

.introduction h3 {
    font-size: 27px;
    font-weight: 300;
}
    
.introduction .content .big-button {
    width: 155px;
    height: 53px;
    border-radius: 4px;
    margin-top: 40px;
    background-color: #f15a29;
    color: #fff;
    font-size: 15px;
    border-style: none;
}
    
.introduction .content button:hover {
    background-color: #d9400e;
    cursor: pointer;
}

.cases {
    width: 704px;
    margin: 0 auto;
    text-align: center;
}

.cases .content {
    
    margin: 0 auto; 
    color: #000;
    padding-top: 120px;
}

.cases .content h2 {
    font-size: 45px;
    font-weight: 300;
    color: #1d1e21;
}

.cases .devices {
    width: 33.3333333%;
    display: inline-block;
    /* styles to assist with debugging */
    margin-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;

}

.cases .devices img {
    height: 127px;
}

.cases .devices h3 {
    font-size: 23px;
    font-weight: 400;
    padding-top: 30px;
}

i.fa {
  -webkit-animation: show 1s 1;
  /* any other properties to override from FontAwesome's default .fa rule */
}
@-webkit-keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.social {
    background-color: #fff;
    padding-bottom: 150px;
    text-align: center;
    
}

.social hr {
    border-top: 1px solid #eaebec;
    margin-bottom: 20px;
}

.social .icons {
    margin: 0 auto;
    margin: 20px 0;
}

.social .icons li {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid #eaebec;
    text-align: center; 
    padding-top: 10px;
    margin: 0 5px;
}

.social .content {
    width: 704px;
    margin: 0 auto;   
}
    
.social .fa-twitter {
    color: #55acee;
}

.social .fa-facebook {
    color: #4c66a4;
}

.social .fa-instagram {
    color: #3f729b;
}
    
.social .copy {
    color: #838994;
    font-size: 15px;
    font-weight: 300;
}
    